<h2>Recently added</h2>
<div>
    <% books.forEach((book) => { %>
    <div>
      <img src="<%= book.coverImagePath %>" 
      alt="<%= book.title %>" height="150px" width="100px">
      <%= book.title %> : <%= book.publishDate %></div>
    <% }) %>
  </div>